{% extends "base.html" %}
{% block title %}题目详情{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block body %}
    <div class="container mt-3">
        <h2>{{ title }}</h2>
        <div class="card mt-5">
            <div class="card-body">
                <h4 class="card-title">题目描述</h4>
                <p class="card-text">{{ description }}</p>
            </div>
        </div>
    </div>

    <div class="container mt-3 text-center">
        <a href="http://obt.xmu-maker.cn/?ip={{ device_ip }}&id={{ test_id }}" target="_blank" class="btn btn-primary mt-3 " role="button">尝试
        </a>
    </div>
{% endblock %}